html {
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

body {
    background-color: $body-bg;
    padding: $body-padding / 2;
    font-family: $font-family;
    font-weight: 400;
    color: $c-main;
    margin: 0 auto;
    width: 100%;

    @include respo-from(xl) {
        padding: $body-padding;
    }
}


.app {
    background-color: $app-bg;
    padding: $app-padding / 2;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;

    .is-init & {
        opacity: 1;
    }

    @include respo-from(xl) {
        padding: $app-padding;
    }
}

.app__inner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: calc(100vh - (2 * #{$body-padding}));

    @include respo-from(xl) {
        min-height: calc(100vh - (4 * #{$body-padding}));
    }
}

.corner-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 75px 75px;
    border-color: transparent transparent $corner-bg;

    @include respo-from(xs) {
        border-bottom-width: 150px;
        border-left-width: 150px;
    }
    @include respo-from(lg) {
        border-bottom-width: 250px;
        border-left-width: 250px;
    }
}

.missed-info {
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    opacity: 0;
    transition: opacity 0.15s ease;

    .is-game-started & {
        opacity: 1;
    }
    .is-desktop & {
        left: auto;
    }
}

.missed-info__title {
    font-size: .5em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.missed-info__letters {
    letter-spacing: 0.09em;
    color: $c-accent;
    line-height: 0.9;
    text-transform: uppercase;
}

.bar {
    position: relative;
    left: - ($body-padding / 2);
    background-color: $bar-bg;
    border-top-right-radius: $bar-radius;
    border-bottom-right-radius: $bar-radius;
    @include is-hidden('background-color');

    @include respo-from(xl) {
        left: - $body-padding;
    }
}
.bar__inner {
    position: absolute;
    border-bottom-right-radius: $bar-radius;
    border-bottom-left-radius: $bar-radius;
    background-color: $bar-bg;

    @include is-hidden('background-color');
    @extend %move-bar;
}

.man__head {
    transform: translateX(-50%);

    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 10;

        @include is-hidden;
    }
}
.man__neck {
    background-color: $man-c-skin;
    border-radius: $man-neck-radius;
    margin-right: auto;
    margin-left: auto;

    @include is-hidden('background-color');
    @extend %move-neck;
}
.man__corpus {
    position: absolute;
    background-color: $man-c-trousers;
    border-radius: $man-corpus-radius;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 10;
    }
    &:before {
        background-color: $man-c-right-arm;
        border-top-left-radius: $man-corpus-radius;
        left: 0;
    }
    &:after {
        background-color: $man-c-left-arm;
        border-top-right-radius: $man-corpus-radius;
        right: 0;
    }

    @include is-hidden();
}
.man__left-arm,
.man__right-arm {
    position: absolute;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: $man-limb-radius;
    }
}
.man__left-arm {
    transform-origin: top right;

    @include is-hidden-psudo-el('background-color');
    @extend %move-left-arm;

    &:before {
        background-color: $man-c-left-arm;
    }
}
.man__right-arm {
    transform-origin: top left;

    @include is-hidden-psudo-el('background-color');
    @extend %move-right-arm;

    &:before {
        background-color: $man-c-right-arm;
    }
}
.man__left-hand,
.man__right-hand {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: $man-c-skin;
    border-radius: $man-hand-radius;
    margin-right: auto;
    margin-left: auto;

    @include is-hidden('background-color');
}

.man__left-leg,
.man__right-leg {
    position: absolute;

    @include is-hidden-psudo-el('background-color');

    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: $man-c-trousers;
        border-radius: $man-limb-radius;
    }
}
.man__left-leg {
    margin-left: auto;
    margin-right: 0;
    right: 0;
    transform-origin: top right;

    @extend %move-left-leg;
}
.man__right-leg {
    left: 0;
    transform-origin: top left;

    @extend %move-right-leg;
}
.man__left-foot,
.man__right-foot {
    position: absolute;
    z-index: 1;
    background-color: $man-c-skin;
    border-radius: $man-limb-radius;
    margin-right: auto;
    margin-left: auto;

    @include is-hidden('background-color');
}
.man__left-foot {
    left: 0;

    @extend %move-left-foot;
}
.man__right-foot {
    right: 0;

    @extend %move-right-foot;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 210;
    background-color: $modal-bg;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    color: $c-letter;
    pointer-events: none;

    @include is-hidden();
}
.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;

    @extend .is-hidden;
}
.modal__start {
    @extend .is-visible;
}
.modal__start-title {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-out 0.1s, transform 0.5s ease-out 0.1s;
}
.modal__start-title--desktop {
    display: block;

    .is-mobile & {
        display: none;
    }
}
.modal__start-title--mobile {
    display: none;

    .is-mobile & {
        display: block;
    }
}
.modal__game {
    @extend .is-hidden;
}
.modal__game-title {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-out 0.1s, transform 0.3s ease-out 0.1s;
}
.modal__game-subtitle {
    font-size: 0.3em;
    opacity: 0;
    transition: opacity 0.3s ease-out 0.4s, transform 0.3s ease-out 0.4s;
    text-transform: none;
}
.modal__game-btn {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: auto;
}
.modal__game-title {
}
.modal__game-btn {
    transition: opacity 0.3s ease-out 0.25s, transform 0.3s ease-out 0.25s, color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    outline: none;
    background-color: transparent;
    color: $c-btn;
    border: 1px dashed $c-btn;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 5px 10px;
    margin-top: 5px;

    &:hover {
        color: lighten($c-btn, 15%);
        border-color: lighten($c-btn, 15%);
        background-color: rgba(lighten($c-btn, 15%), 0.1);
    }

    @include respo-from(md) {
        font-size: 0.35em;
        border-width: 2px;
        padding: 10px 20px;
    }
    @include respo-from(xl) {
        border-width: 3px;
        padding: 20px 40px;
        margin-top: 30px;
    }
}
.is-init {
    .modal__start {
        @extend .is-visible;
    }
    .modal__start-title {
        opacity: 1;
        transform: translateY(0);
    }
}
.is-game-started {
    .modal__start-title {
        opacity: 0;
        transform: translateY(-20px);
    }

    .modal {
        opacity: 0;
    }

    .modal__start {
        @extend .is-hidden;
    }
    .modal__game {
        @extend .is-visible;
    }
}
.is-game-over,
.is-game-won {
    .modal {
        opacity: 1;
    }
}
.is-game-over {
    .modal__game-won {
        @extend .is-hidden;
    }
    .modal__game-over-title,
    .modal__game-subtitle,
    .modal__game-over-btn {
        opacity: 1;
        transform: translateY(0);
    }
}
.is-game-won {
    .modal__game-over {
        @extend .is-hidden;
    }
    .modal__game-won-title,
    .modal__game-won-btn {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-letters {
    width: 100%;
    margin-right: -2px;
    margin-left: -2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    @include clearfix;
}
.input-letters__item {
    float: left;
    width: 100% * (1/ $count-letters);
    text-align: center;
    color: $c-letter;
    position: relative;
    z-index: 10;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;
        left: 1px;
        background-color: $c-letter-bg;
        border-radius: 3px;
        z-index: -1;
        transition: background-color 0.3s ease;

        @include respo-from(md) {
            right: 3px;
            left: 3px;
        }
    }

    &.is-disabled {
        &:before {
            background-color: $c-disabled-letter-bg;
        }
    }

}
.input-letters__item-inner {
    opacity: 0;
    transform: translate(-10px, -5px) scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-transform: uppercase;

    &.is-visible {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}
.input-letters__item--empty:before {
    background-color: $c-disabled-letter-bg;
}

.mobile-input {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 110;
    background-color: rgba(#fff, 0.5);
    padding: 5px 10px;
    text-align: center;
    opacity: 0;
}

.mobile-input__inner {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}


// Mobile
.is-mobile {
    .bar {
        order: -1;
    }
}
