.app {
    background-color: $app-bg;
    padding: $app-padding / 2;
    position: relative;
}

.app__inner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: calc(100vh - (2 * #{$body-padding}));
}

.corner-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent transparent $corner-bg;
}

.missed-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.missed-info__title {
    font-size: .5em;
}

.missed-info__letters {
    letter-spacing: 0.09em;
    color: $c-accent;
    line-height: 0.8;
    min-height: 26px;
    margin-bottom: 12px;
}

.start-info {
    display: none;
}

.bar {
    position: relative;
    left: - ($body-padding / 2);
    background-color: $bar-bg;
    border-top-right-radius: $bar-radius;
    border-bottom-right-radius: $bar-radius;
    @include is-hidden('background-color');

  @include respo-from(xs) {

  }
}
.bar__inner {
    position: absolute;
    border-bottom-right-radius: $bar-radius;
    border-bottom-left-radius: $bar-radius;
    background-color: $bar-bg;

    @include is-hidden('background-color');
    @extend %move-bar;
}

.man__head {
    transform: translateX(-50%);

    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 10;

        @include is-hidden;
    }
}
.man__neck {
    background-color: $man-c-skin;
    margin-right: auto;
    margin-left: auto;

    @include is-hidden('background-color');
    @extend %move-neck;
}
.man__corpus {
    position: absolute;
    background-color: $man-c-trousers;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 10;
    }
    &:before {
        background-color: $man-c-right-arm;
        left: 0;
    }
    &:after {
        background-color: $man-c-left-arm;
        right: 0;
    }

    @include is-hidden();
}
.man__left-arm,
.man__right-arm {
    position: absolute;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: $man-limb-radius;
    }
}
.man__left-arm {
    transform-origin: top right;

    @include is-hidden-psudo-el('background-color');
    @extend %move-left-arm;

    &:before {
        background-color: $man-c-left-arm;
    }
}
.man__right-arm {
    transform-origin: top left;

    @include is-hidden-psudo-el('background-color');
    @extend %move-right-arm;

    &:before {
        background-color: $man-c-right-arm;
    }
}
.man__left-hand,
.man__right-hand {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: $man-c-skin;
    border-radius: $man-hand-radius;
    margin-right: auto;
    margin-left: auto;

    @include is-hidden('background-color');
}

.man__left-leg,
.man__right-leg {
    position: absolute;

    @include is-hidden-psudo-el('background-color');

    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: $man-c-trousers;
        border-radius: $man-limb-radius;
    }
}
.man__left-leg {
    margin-left: auto;
    margin-right: 0;
    right: 0;
    transform-origin: top right;

    @extend %move-left-leg;
}
.man__right-leg {
    left: 0;
    transform-origin: top left;

    @extend %move-right-leg;
}
.man__left-foot,
.man__right-foot {
    position: absolute;
    z-index: 1;
    background-color: $man-c-skin;
    border-radius: $man-limb-radius;
    margin-right: auto;
    margin-left: auto;

    @include is-hidden('background-color');
}
.man__left-foot {
    left: 0;

    @extend %move-left-foot;
}
.man__right-foot {
    right: 0;

    @extend %move-right-foot;
}

.game-over {
    display: none;
}
.game-over__title {}
.game-over__btn {}

.input-letters {
    width: 100%;
    margin-right: -2px;
    margin-left: -2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    @include clearfix;
}
.input-letters__item {
    float: left;
    width: 100% * (1/ $count-letters);
    text-align: center;
    color: $c-letter;
    position: relative;
    z-index: 10;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;
        left: 1px;
        background-color: $c-letter-bg;
        border-radius: 3px;
        z-index: -1;
    }
}
.input-letters__item-inner {
    opacity: 0;
    transform: translate(-10px, -5px) scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.is-visible {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}
.input-letters__item--empty:before {
    background-color: $c-disabled-letter-bg;
}

.mobile-input {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 110;
    background-color: rgba(#fff, 0.5);
    padding: 5px 10px;
    text-align: center;
    opacity: 0;
}

.mobile-input__inner {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}



.is-mobile {
    .bar {
        order: -1;
    }
}
