.is-visible {
    opacity: 1;
    visibility: visible;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.is-translate-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
