$man-c-skin: #fece8a;
$man-c-right-arm: #8ac657;
$man-c-left-arm: #4ea06a;
$man-c-trousers: #3c5a92;
$man-neck-width: round(0.24 * $man-head);
$man-neck-height: $man-head + round(0.46 * $man-neck-width);
$man-corpus-width: round(0.55 * $man-head);
$man-corpus-height: round(1.58 * $man-corpus-width);
$man-corbus-bottom-height: 26%;
$man-arm-width: round(0.45 * $man-corpus-width);
$man-arm-height: round(0.9 * $man-corpus-height);
$man-limb-radius: 11px;
$man-hand-width: round(0.7 * $man-arm-width);
$man-hand-radius: 20px;
$man-leg-width: round(0.48 * $man-corpus-width);
$man-leg-height: round(1.14 * $man-corpus-height);
$man-foot-width: round($man-leg-width * 1.8);
$man-foot-height: round(0.32 * $man-foot-width);

$bar-width: $man-neck-width * 7;
$bar-bg: $c-main;
$bar-gauge: round(0.16 * $man-head);
$bar-radius: 4px;
$bar-inner-height: round(0.21 * $man-head);
