@mixin man-head {
    .man__head {
        width: $man-head-width;
        margin-top: round($bar-inner-height * 0.90);
        margin-left: $bar-gauge / 2;
    }
}

@mixin bar {
    .bar {
        width: $bar-width;
        height: $bar-gauge;
        margin-bottom: $man-height;
    }
}

@mixin bar-inner {
    .bar__inner {
        top: $bar-gauge - round(0.2 * $bar-gauge);
        right: $bar-gauge;
        width: $bar-gauge;
        height: $bar-inner-height;
    }
}

@mixin man-neck {
    .man__neck {
        width: $man-neck-width;
        height: $man-neck-height;
        margin-top: -$man-head-width;
    }
}

@mixin man-corpus {
    .man__corpus {
        top: $man-neck-height;
        left: - round(0.5 * $man-corpus-width);
        transform: translateX($man-neck-width / 2);
        width: $man-corpus-width;
        height: $man-corpus-height;

        &:before,
        &:after {
            height: 100% - $man-corpus-bottom-height;
        }
    }
}

@mixin man-left-arm {
    .man__left-arm {
        width: $man-arm-width;
        height: $man-arm-height;
        top: - round(0.03 * $man-neck-height);
        right: - round(0.05 * $man-neck-width);
    }
}

@mixin man-right-arm {
    .man__right-arm {
        width: $man-arm-width;
        height: $man-arm-height;
        top: - round(0.03 * $man-neck-height);
        left: - round(0.05 * $man-neck-width);
    }
}

@mixin man-hands {
    .man__left-hand,
    .man__right-hand {
        top: calc(100% - #{(0.42 * $man-hand-width)});
        width: $man-hand-width;
        height: $man-hand-width;
    }
}

@mixin man-legs {
    .man__left-leg,
    .man__right-leg {
        width: $man-leg-width;
        height: $man-leg-height;
        top: 100% - $man-corpus-bottom-height;
    }
}

@mixin man-foots {
    .man__left-foot,
    .man__right-foot {
        top: calc(100% - #{(0.42 * $man-hand-width)});
        width: $man-foot-width;
        height: $man-foot-height;
    }
}

@mixin input-letters-item {
    .input-letters__item {
        font-size: $input-letters-font-size;
        height: $input-letters-box-height;
    }
}

@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin is-hidden($type: 'opacity') {
    &.is-hidden {
        @if $type == 'opacity' {
            opacity: 0;
        } @else {
            background-color: transparent;
        }
    }

    transition: #{$type} $transition-time $transition-name;
}

@mixin is-hidden-psudo-el($type: 'opacity', $pseudo-el: 'before') {

    &.is-hidden:#{$pseudo-el} {
        transition: background-color $transition-time $transition-name;

        @if $type == 'opacity' {
            opacity: 0;
        } @else {
            background-color: transparent;
        }
    }
}

@mixin respo-from($breakpoint) {
    @media (min-width: #{map-get($screen-sizes, $breakpoint)}) {
        @content;
    }
}


// Variables
@mixin set-responsive-variables ($val: 480px) {

    // Man
    $man-head-width: round($val / 8) !global;
    @if $val == 240px {
        $man-head-width: 60px !global;
    }

    $man-head-height: round(1.1 * $man-head-width) !global;
    $man-neck-width: round(0.24 * $man-head-width) !global;
    $man-neck-height: round($man-head-width + 0.46 * $man-neck-width) !global;
    $man-corpus-width: round(0.55 * $man-head-width) !global;
    $man-corpus-height: round(1.58 * $man-corpus-width) !global;
    $man-arm-width: round(0.45 * $man-corpus-width) !global;
    $man-arm-height: round(0.9 * $man-corpus-height) !global;
    $man-hand-width: round(0.7 * $man-arm-width) !global;
    $man-leg-width: round(0.48 * $man-corpus-width) !global;
    $man-leg-height: round(1.14 * $man-corpus-height) !global;
    $man-foot-width: round($man-leg-width * 1.8) !global;
    $man-foot-height: round(0.32 * $man-foot-width) !global;

    $bar-width: round($man-neck-width * 7) !global;
    $bar-gauge: round(0.16 * $man-head-width) !global;
    $bar-inner-height: round(0.21 * $man-head-width) !global;

    $man-height: $bar-gauge + $bar-inner-height + $man-head-height + ($man-neck-height - $man-head-width) + $man-corpus-height + $man-leg-height !global;

    // input-letters
    $respo-base-font-size: round($val / 28) !global;
    @if $val == 240px {
        $respo-base-font-size: 14px !global;
    }
    $input-letters-font-size: round(1.3 * $respo-base-font-size) !global;
    $input-letters-box-height: round(1.5 * $input-letters-font-size) !global;
}