$screen-sizes: (
    start: 240px,
    xs: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
) !global;

$body-bg: #3b4163;
$body-padding: 40px;

$app-bg: #f5f5f5;
$app-padding: 40px;

$c-main: #53555d;
$c-accent: #4d69fa; //missed letters color
$c-iron: #e6e6e7;
$c-letter: #fff;
$c-letter-bg: rgba(#50525a, 0.92);
$c-disabled-letter-bg: rgba(#50525a, 0.30);
$c-btn: #ffba00;

$man-animation-enabled: false;

$man-c-skin: #fece8a;
$man-c-right-arm: #8ac657;
$man-c-left-arm: #4ea06a;
$man-c-trousers: #3c5a92;
$man-neck-radius: 5px;
$man-corpus-bottom-height: 26%;
$man-corpus-radius: 5px;
$man-limb-radius: 11px;
$man-hand-radius: 20px;

$bar-bg: $c-main;
$bar-radius: 4px;

@each $key, $val in $screen-sizes {
    @media only screen and (min-width: $val) {
        @include set-responsive-variables($val);

        @include bar;
        @include bar-inner;
        @include man-head;
        @include man-neck;
        @include man-corpus;
        @include man-left-arm;
        @include man-right-arm;
        @include man-hands;
        @include man-legs;
        @include man-foots;

        @include missed-info-respo;
        @include input-letters-item;
        @include modal-game-respo;

        @include body-respo;
    }
}

$modal-bg: rgba($body-bg, 0.74);

$corner-bg: #4d69fa;

$font-family: 'Aller', sans-serif;


$count-letters: 12;


// Animation
$bar-rotate: 5deg;
$bar-anim-duration: 4s;

$neck-rotate: 3deg;
$neck-anim-duration: 4s;

$foot-anim-duration: 1s;
$foot-left-rotate: 10deg;
$foot-right-rotate: 5deg;

$arm-left-anim-duration: 1s;
$arm-left-rotate-start: -25deg;
$arm-left-rotate-end: -27deg;
$arm-right-anim-duration: 0.8s;
$arm-right-rotate-start: 20deg;
$arm-right-rotate-end: 23deg;

$leg-left-anim-duration: 1s;
$leg-left-rotate-start: -10deg;
$leg-left-rotate-end: -15deg;
$leg-right-anim-duration: 0.8s;
$leg-right-rotate-start: 5deg;
$leg-right-rotate-end: 10deg;
