@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin is-hidden ($type: 'opacity') {
    &.is-hidden {
        @if $type == 'opacity' {
            opacity: 0;
        } @else {
            background-color: transparent;
        }
    }

    transition: #{$type} 0.3s ease;
}

@mixin is-hidden-psudo-el ($type: 'opacity', $pseudo-el: 'before') {

    &.is-hidden:#{$pseudo-el} {
        transition: background-color 0.3s ease;

        @if $type == 'opacity' {
            opacity: 0;
        } @else {
            background-color: transparent;
        }
    }
}

@mixin respo-from ($breakpoint) {
    @media (min-width: #{map-get($screen-sizes, $breakpoint)}) {
        @content;
    }
}
